.HomeMain-SectionHero {
    position: relative;
    height: 500px;
    width: 100%;
    background: url('../../assets/img/event.jpg')  rgba(0, 0, 0, 0.69);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: multiply;

    &-Inner {
        max-width: 1280px;
        margin: 0 auto;

        &-Container {
            position: relative;
            height: 500px;
            width: 1280px;
        }
    }
}

.HomeMain-SectionMore {
    padding: 70px 0;
    overflow-y: hidden;
}

.HomeMain-SectionLastYear {
    clear: both;
    overflow: hidden;
    padding: 70px 0;
    background: #efefef;
}