.About {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.moveToLeft {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: left;
}