.Events {
    display: block;
    max-width: 350px;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (min-width: 576px) {
    .Events {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1024px;
    }
}

@media only screen and (min-width: 768px){
    .Events {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1024px){
    .Events {
        gap: 30px;
        padding: 0;
    }
}

/*
@media only screen and (min-width: 576px){
    .section-events .info-box {
        margin: inherit;
    }
*/